@using MVCWithBlazor.Components
@{
    ViewData["Title"] = "Home Page";
}

    <a class="btn btn-info" asp-action="UploadDataFromFile">Link "UploadDataFromFile"</a>
    <a class="btn btn-info" asp-action="Indexes">Index</a>
    <a class="btn btn-info" asp-action="IndexePrognoza">Index prognoza energie</a>
    <a class="btn btn-info" asp-action="ViewReportOnMotnh">Selectie luna viziizare raport</a>

    <div class="text-center">
        <h1 class="display-4">Welcome to ASP.NET Core Identity Management </h1>
        <div class="alert ">
            <a class="btn btn-info" asp-action="member">Go to Member Area</a>
        </div>

        <div class="alert">
            <a class="btn btn-info" asp-action="admin">Go to Admin Area</a>
        </div>

        <component type="typeof(ComponentProba)" render-mode="ServerPrerendered" />
        <div>
            <ejs-calendar id="calendar"></ejs-calendar>
        </div>
    </div>
