@{
    ViewData["Title"] = "UploadDataFromFile";
}

<h1>Upload Data From File</h1>

<div class="row">
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="UploadDataFromFile">
            <div class="form-group">
                <div class="col-md-10">
                    <p>Incarca fisierul index de la contor:</p>
                    <input type="file" class="e-css e-btn" name="files" multiple />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload" />
                </div>
            </div>
        </form>
        <span class="validation-summary-errors">@ViewBag.Mesaj</span>
    </div>
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="UploadPrognozaFromFile">
            <div class="form-group">
                <div class=" control-section">
                    <div id="wrapper" class="datepicker-section">
                        <div id="datepicker-control">
                            <ejs-datepicker id="datepicker" value=ViewBag.Data format="MMMM y" start="Year" depth="Year"></ejs-datepicker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <p>Incarca fisierul cu prognoza energie:</p>
                    <input type="file" class="e-css e-btn" name="files" multiple />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload" />
                </div>
            </div>
        </form>
        <span class="validation-summary-errors">@ViewBag.Mesaj2</span>
    </div>

</div>